@font-face{
font-family: "Raleway SemiBold";
src: url("../fonts/raleway/Raleway-SemiBold.ttf");
}

body {
	color: #606060 !important;
	font-family: 'Open Sans',sans-serif;
}

p {
	font-weight: bold;
}

table.tableizer-table {
  border: 1px solid #606060;
  text-align: center;
}
.tableizer-table td {
  padding: 4px;
  margin: 3px;
  border: 1px solid #606060;
}
.tableizer-table th {
  padding: 4px;
  margin: 3px;
  background-color: #D3D3D3;
  border: 1px solid #606060;
  font-weight: bold;
}

.footer{
	font-size: 10px;
	font-style: italic;
}

.notbold {
	font-weight: normal;
	font-size: 1.2em;
	font-family:"Open Sans";
}

.background {
  fill: none;
  pointer-events: all;
}

.container-fluid {
  padding-right: 250px;
  padding-left: 250px;
	padding-top: 25Px;
	padding-bottom: 25px;
	max-width:900px;
  margin-right: 100px;
  margin-left: 100px;
}

.venntooltip {
  font-family: "Open Sans";
  line-height: 1.25;
  font-size : 16px;
  padding: 6px;
  position: absolute;
  text-align: center;
  background: #333;
  color: #fff;
  border-color: #000;
  border-radius: 2px;
  text-align: center;
}

text {
  fill: #000;
  font-family: Raleway;
  font-size: 12px;
}
